# Database URL (PostgreSQL - Supabase / Neon / Local)
DATABASE_URL="postgresql://postgres:password@localhost:5432/ygsm_philanthropy?schema=public"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Midtrans / Payment Gateway Server Key (Optional/Future)
PAYMENT_SERVER_KEY=""
PAYMENT_CLIENT_KEY=""
